body {
    margin : 0;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width : 100%;
    height : 7.5rem;
    background-color: #4d4b4b;
    z-index: 99;
}

.header_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    background-color: #A69374;
    color : white;
    font-size: 2rem;
}

.header_items {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.header_item {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9rem;
    margin: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.4s linear 0s
}

.start_page{
    color: #A69374
}

.header_item:hover{
    color: #A69374;
}


.main_name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width : 100%;
    height : 100vh;
    background: url(images/1_photo.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    /* background-attachment: fixed; */
}

.back_drop {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.main_name h1 {
    color: white;
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 0;
    text-transform: uppercase;
    z-index: 1;
}

.main_name p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    margin-top: 0;
    text-transform: uppercase;
    z-index: 1;
}

.main_aboutus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width : 100%;
    height : 27.5rem;
    background-color: #c7c3c3;
}

.line {
    width: 5.4rem;
    height: 5px;
    color :  white;
    background : white;
    border: none;
    transform:rotate(-45deg) ;
}

.main_aboutus h1 {
    color: #4d4b4b;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.main_aboutus p {
    color: #4d4b4b;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    margin-top: 0;
    text-transform: uppercase;
    margin-top: 0;
    width: 40%;
    text-align: center;
}

.spheres {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width : 100%;
    height : 37.5rem;
    background-color: white;
    padding: 3rem 0;
}

.spheres hr {
    width: 5.4rem;
    height: 5px;
    color :  #A69374;
    background : #A69374;
    border: none;
    transform:rotate(-45deg) ;
}

.spheres h1 {
    color: #4d4b4b;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    font-weight: bold;    
    text-transform: uppercase;
}

.cubs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 13.75rem;
    height: 15rem;
    background-color: #4d4b4b ;
    margin: 1.25rem;
}

.business h2 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 7rem;
    font-weight: bold;  
    margin: 0;  
}
.business p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3rem;    
    margin: 0;
}
.comer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 13.75rem;
    height: 15rem;
    background-color: #A69374;
    margin: 1.25rem;
}

.comer h2 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 7rem;
    font-weight: bold;  
    margin: 0;  
}
.comer p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3rem;    
    margin: 0;
}

.devise {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 13.75rem;
    height: 15rem;
    background-color: #4d4b4b ;
    margin: 1.25rem;
}

.devise h2 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 7rem;
    font-weight: bold;  
    margin: 0;  
}
.devise p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3rem;    
    margin: 0;
    text-align: center;
}

.family {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 13.75rem;
    height: 15rem;
    background-color: #A69374;
    margin: 1.25rem;
}

.family h2 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 7rem;
    font-weight: bold;  
    margin: 0;  
}
.family p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3rem;    
    margin: 0;
}

.spheres button {
    background : transparent;
    border : 2px solid #A69374;
    padding : 0.5rem 1.2rem;
    color: #4d4b4b;
    font-size: 1.2rem;
    margin-top: 2rem;
    cursor: pointer;
}

#reviwes {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background : url(images/2_photo.jpg);
    background-attachment: fixed;
    padding: 10rem 0;

    overflow: hidden;
}

#reviwes p {
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white ;
    z-index: 1;
    width: 45%;
    text-align: center ;
} 

#reviwes h4 {
    color : white;
    font-size: 1rem;
    font-weight: 400;
    z-index: 1;
}

#contact_us {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4d4b4b;
    padding: 5rem;
}

.contact_us_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.contact_us_items h1 {
    color: white;
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.contact_us_bottom_items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.contact_us_bottom_item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.bottom_items {
    list-style: none;
    padding: 0;
}

.bottom_item h2 {
    font-size: 1.2rem;
    color: #A69374;
}

.bottom_item p {
    font-size: 1.2rem;
    color: white;
}

.contact_us_bottom_item input {
    width: 30rem;
    height: 2rem;
    border: none;
    margin: 0.25rem 0;
    padding: 3px 3px 3px 1.5rem;
    outline: none;
}

#comment {
    width: 30rem;
    border: none;
    margin: 0.25rem 0;
    padding: 12px 3px 3px 1.5rem;
}

.contact_us_bottom_item button {
    font-size: 1.1rem;
    background: #A69374;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 0.25rem;
}